<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="home.css">
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=JVPflyf9z6PUKg7zGByl&submodules=geocoder"></script>
  </head>
  
 <body>
   <div class="container5">
    <h1>가맹점 위치</h1>
    <div id="map" style="width:1300px; height:600px;"></div>
    <div class="map_under"></div>
    
    <script type="text/javascript">
      var mapDiv = document.getElementById('map');
      var map = new naver.maps.Map('map', {
        center: new naver.maps.LatLng(37.618308,126.939045),
        zoom: 10
      });
      
      var myaddress = [];
      var store_names = [];
        <% @stores.each do |s| %>
          myaddress.push('<%= s.address %>');
          store_names.push('<%= s.store_name %>');
        <% end %>
        for (var i = 0; i < myaddress.length; ++i) {
          (function(i) {
            naver.maps.Service.geocode({address: myaddress[i]}, function(status, response) {
              if (status !== naver.maps.Service.Status.OK) {
                return alert(myaddress + '의 검색 결과가 없거나 기타 네트워크 에러');
              }
              var result = response.result;
              // 검색 결과 갯수: result.total
              // 첫번째 결과 결과 주소: result.items[0].address
              // console.log(i, myaddress[i], result);
        
              var markerAddress = new naver.maps.Point(result.items[0].point.x, result.items[0].point.y);
              var marker = new naver.maps.Marker({
                position: markerAddress,
                map: map
              });
            
              // 마크 클릭시 인포윈도우 오픈
              var infowindow = new naver.maps.InfoWindow({
                content: '<h4>' + store_names[i] + '</h4>'
              });
            
              // 마커 클릭 이벤트 처리
              naver.maps.Event.addListener(marker, "click", function(e) {
                if (infowindow.getMap()) {
                  infowindow.close();
                } else {
                  infowindow.open(map, marker);
                }
              });
            });
          })(i);
        }
      
      </script>
      </div>
  </body>
</html>

