<header>
        <nav class='nav-basic' id="nav-basic">
            <ul>
                <li>
                    <img src="..">
                </li>
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a href="/list">STORE</a>
                </li>
                <li>
                    <a href="/notice">NOTICE</a>
                </li>
                <li>
                    <a href="/index">APPLY</a>
                </li>
                
                <li>
                    <a href="#" data-toggle="modal" data-target="#LoginModal">Login</a>
                </li>
                <li>
                    <a href="#">Logout</a>
                </li>
            </ul>
        </nav>
        
          <script>
        const myNav = document.getElementById('nav-basic')
 
        window.onscroll = function () {
            console.log(window.scrollY)
            if (window.scrollY >= 0.1) {
                myNav.className = 'nav-change';
            }
            else {
                myNav.className = 'nav-basic';
            }
        }
    </script>
<h1>Home#notice</h1>
<p>Find me in app/views/home/notice.html.erb</p>
