<link rel="stylesheet" type="text/css" href="main.css">
<div class="container2">
<h2>로그인</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="bd2">
    <div class="form-group">
      <label for="exampleFormControlInput1">ID</label>
      <input type="text" class="form-control" id="idname" name="member[email]" placeholder="Id 입력">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">PASSWORD</label>
      <input type="password" class="form-control" id="Password" name="member[password]" placeholder="password 입력">
    </div>
    <div class="b1">
    </a><button type="submit" name="member[submit]" class="btn btn-outline-fill">Login</button>
   </div>
</div>
<% end %>
</div>