<!DOCTYPE html>
<html lang="en">
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body> 

<header>
     <div class="container8">
        <nav class='nav-basic' id="nav-basic">
            <ul>
             
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a href="/list">STORE</a>
                </li>
                <li>
                    <a href="/index">APPLY</a>
                </li>

                <li>
                  <% if member_signed_in? %>
                    <a href="/members/sign_out">LOGOUT</a>
                  <% else %>
                    <a href="/members/sign_in">LOGIN</a>
                  <% end %>
                </li>
                <li>
                  <% unless member_signed_in? %>
                    <a href="/members/sign_up">SIGN UP</a>
                  <% end %>
                </li>
                        <div class="logo">  <p><img src="/assets/logo.png" width="72px" height="57px;">ExpressTrain</p></div>
            </ul>
        </nav>
        </div>
          <script>
        const myNav = document.getElementById('nav-basic')
 
        window.onscroll = function () {
            console.log(window.scrollY)
            if (window.scrollY >= 10) {
                myNav.className = 'nav-change';
            }
            else {
                myNav.className = 'nav-basic';
            }
        }
    </script>
    </header>
              
 
    <%= yield %>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<div class="footer-main-div">
    
   <div class="footer-social-icons">
	    <ul>
		    <li><a href="https://www.facebook.com/"><img src="/assets/facebook.png" height="35em" width="35em"></a></li>
		    <li><a href="https://www.instagram.com/?hl=ko"><img src="/assets/instagram.png" height="35em" width="35em"></a></li>
		    <li><a href="https://www.youtube.com/"><img src="/assets/youtube.png" height="40em" width="35em"></a></li>
		    <li><a href="https://github.com/"><img src="/assets/github.png" height="35em" width="35em"></a></li>
	    </ul>
    </div>
 
    <div class="footer-menu-one">
    	<ul>
		    <li><a href="/">Home</a></li>
        <li><a href=" /list">STORE</a></li>
        <li><a href="/index">APPLY</a></li>
 	    </ul>
    </div>
 
    <div class="footer-menu-two">
	    <ul>
		 <li><a href="#">DEVELOPER</a></li>
         <li><a href="https://github.com/namsoo5">김남수</a></li>
         <li><a href="https://github.com/jaeryo2357">양민욱</a></li>
         <li><a href="https://github.com/tngusmiso">임수현</a></li>
         <li><a href="https://github.com/jangheeseung">장희승</a></li>
         <li><a href="https://github.com/HamJinKyoung">함진경</a></li>
 	    </ul>
    </div>
</div>
   
</body>
</html>
