  <html lang="en">
<body>
  <link rel="stylesheet" type="text/css" href="main.css">
 
 <div class="container8">
        <div class='HeaderImage'>
             <img src="/assets/main.png" height="650px" width="1300px">
        </div>
        </div>
    
  <!--    	<header>-->
  <!--        	    <div class="container6">-->
		<!--		<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">-->
		<!--		  <div class="carousel-inner">-->
		<!--			    <div class="carousel-item active">-->
		<!--			      <img class="d-block w-100" src="assets/main2.jpg" width="960px" height="500px" alt="First slide">-->
	 <!--   				    <div class="carousel-caption d-none d-md-block"></div>-->
		<!--			    </div>-->
		<!--			    <div class="carousel-item">-->
		<!--			      <img class="d-block w-100" src="assets/main2.jpg" width="960px" height="500px" alt="second slide">-->
		<!--			     <div class="carousel-caption d-none d-md-block"> </div>-->
		<!--			    </div>-->
		<!--			     <div class="carousel-item">-->
		<!--			      <img class="d-block w-100" src="assets/main2.jpg" width="960px" height="500px" alt="Third slide">-->
		<!--			     <div class="carousel-caption d-none d-md-block"> </div>-->
		<!--			    </div>-->
		<!--		  </div>-->
		<!--			  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">-->
		<!--			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
		<!--			    <span class="sr-only">Previous</span>-->
		<!--			  </a>-->
		<!--		  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">-->
		<!--		    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
		<!--		    <span class="sr-only">Next</span>-->
		<!--		  </a>-->
		<!--		</div>-->
		<!--</div>	-->
		<!--</header>-->
    
    <div class="container1">
    
    <seticon>
      <div class="s1">

<figure class="snip1273">
      <img src="assets/main1.png" alt="sample72"/>
         <figcaption>
          <h3>MAP</h3>
          <h5>가맹점의 위치를 정확히 확인할 수 있습니다.</h5>
        </figcaption>
            <a href="/map"></a>
  </figure>
  
  <figure class="snip1273">
        <img src="assets/main2.jpg" alt="sample21"/>
      <figcaption>
        <h3>STORE</h3>
          <h5>자신이 원하는 가맹점을 쉽게 찾을수 있습니다. </h5>
      </figcaption>
          <a href="/list"></a>
  </figure>
  
  <figure class="snip1273">
      <img src="assets/main3.jpg" alt="sample86"/>
        <figcaption>
          <h3>APPLY</h3>
            <h5>당신의 가게를 등록해 보세요!!</h5>
        </figcaption>
          <a href="/index"></a>
  </figure>
  </div>
  
</seticon>
    <script>
        $(".hover").mouseleave(
        function () {
          $(this).removeClass("hover");
          }
        );
      </script>
      
 
  </div>
  
  
<!--  <div class="rem"></div>-->
<!--   <div class="map_under"></div>-->
<!--<div id="notice1">-->
<!--<h1><div class="orange_text">급행열차를 소개 합니다!!</div></h1>-->
<!--</div>-->
<!--<div id="notice1">-->
<!--<div class="notice_container"><img src="assets/main4.png" width="300px"></div>-->
<!--    <div class="notice_text">-->
<!--    <p>-->
<!--        <h3>서비스개발 동기</h3>-->
<!--        1. 현실 기준과 동떨어진 지원 금액<br>-->
<!--        2. 낮은 가맹점 수<br>-->
<!--        3. 주변 시선<br>-->
<!--        4. 편의점으로의 집중<br><br>-->
<!--       <h3>1.문제인식 Background Research<br></h3> -->
<!--        1. 현실 기준과 동떨어진 지원 금액<br>-->
<!--    - 끼니를 해결하기에는 적은 금액이다.<br>-->
<!--    - 저렴한 식당이라도 가맹되어 있는 경우만 사용 가능하다.<br>-->

<!--2. 낮은 가맹점 수<br>-->
<!--    - 거래가 카드로만 이루어지기 때문에 가맹을 꺼려한다.<br>-->
<!--    - 일반카드처럼 결제할 수가 없고 전용단말기가 필요하다.<br>-->

<!-- 3. 주변 시선<br>-->
<!--    - 식당에 급식카드 가맹점표시가 미비하다.<br>-->
<!--    - 매번 물어보기에는 어린 감수성에 상처가 될 수 있다<br>-->

<!--4. 편의점으로의 집중<br>-->
<!---식품의 개당 단가가 일반 식당에 비해 낮으며, 가격 대비 식품 선택의 폭이 넓고,<br>-->
<!--결제도 안정적으로 할 수 있는 편의점으로 결식아동이 몰리게 된다.<br>-->
<!---그러나 편의점 식품의 특성상 균형잡힌 영양소 섭취가 어렵고,<br>-->
<!--패스트푸드 위주의 식단에, 신선한 채소와 과일 구매가 어렵다.<br>-->
<!--즉석식품/과일/유제품/반찬류/난각류 등으로 구매 가능 품목이<br>-->
<!--제한되어 있다. 즉, 과자나 탄산음료 등의 구매가 불가능하다.<br>-->
<!--    </p>-->
<!--    </div>-->
<!--</div>-->

</body>
